<nav th:fragment="header" class="navbar navbar-expand navbar-light bg-light py-3">
  <div class="container-md">
    <div class="mx-auto d-flex align-items-center">
      <a th:href="@{/home}" class="navbar-brand">
        <img src="/images/cao-guia.svg" alt="Logo cão guia" width="40" height="40">
      </a>
      <ul class="navbar-nav fw-medium">
        <li class="nav-item">
          <a th:href="@{/home}" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/tutores}" class="nav-link ms-2">Tutores</a>
        </li>
        <li class="nav-item">
          <a th:href="@{/caes}" class="nav-link ms-2">Cães</a>
        </li>
      </ul>
    </div>
    <div>
      <a th:href="@{/users/perfil}" class="me-2 text-decoration-none">
        <img src="/images/person.svg" alt="" width="28" height="28">
      </a>
      <a th:href="@{/logout}" class="text-decoration-none">
        <img src="/images/box-arrow-right.svg" alt="Logo logout"  width="25" height="25">
      </a>
    </div>
  </div>
</nav>
